/***** BASE STYLES *****/

body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    line-height: 25px;
}

@font-face {
    font-family: "wisdom";
    src: url("wisdom-script-regular.otf") format('opentype');
  }

h1, h2, h3 {
    text-transform: uppercase;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 379px;
    padding-top: 20px;
    float: left;
}

/***** HEADER *****/

header {
    padding: 30px 0 20px 0;
    background-size: cover;
    background-position: center;
    color: #77a466;
}

header h1 { 
    font-size: 30px;
    font-weight: bold;
}

header h1 span {
    color: #000000;
}

nav {
    float: right;
    word-spacing: 20px ;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #77a466;
}

#notfound-return-link a {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 60px;
    color: #000000;
    text-decoration: none;
}

/***** WELCOME *****/

#welcome h2 {
    font-size: 18px;
    color: #77a466;
}

img {
    border-top: 3px solid #77a466;
    border-bottom: 3px solid #77a466;
}

#welcome p {
    font-size: 16px;
    padding-right: 30px;
}

/***** INFORMATION *****/

.third-width {
    border-top: 1px solid #dedbdc;
    border-bottom: 1px solid #dedbdc;
    float: left;
    overflow: hidden;
    height: 210px;
}

h3 {
    font-size: 12px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

#reviews {
    border-left: solid 1px #dedbdc;
    padding-left: 30px;
}

#contact {
    border-left: solid 1px #dedbdc;
    padding-left: 30px;
}

ul {
    list-style: none;
    line-height: 35px;
    padding: 0;
    text-indent: 0%;
    color: #77a466;
  }

/***** FOOTER *****/

.footer-text {
    text-align: center;
    font-size: 16px;
}

.footer-text span {
    font-family: "wisdom";
    font-size: 16px;
    color: #77a466;
    text-transform: lowercase;
} 